.inventory-table-wrapper {
    font-family: 'Montserrat', sans-serif;
    padding: 0 15px;
    align-self: center;


    .table-header  {
        background-color: transparent;
        display: flex;
        margin-bottom: 15px;

        p {
            color: white;
        }
    }
    
    
    .table-header p:first-child {
        flex: 4;
        padding-left: 10px;
    }
    
    .table-header p:last-child {
        flex: 2;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;

        .save-btn {
            background-color: #00b894;
            align-self: center;
            padding: 9px 46px;
            border: none;
            border-radius: 17px;
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
            transition: 0.4s;
        
        }
        
        .save-btn:hover {
            background-color: #55efc4;
        }
    }
}

