
.expiring-items-title,
.expiring-items-empty {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

.expiring-items-empty {
    h2 {
        text-align:center ;
    }
}