.qr-code-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 280px;
    // background-color: #535c68;
    border-radius: 14px;
    color: white;

    .qr-title-scan,
    .qr-title-copy,
    .qr-link {
        text-align: center;
        margin: 10px 0;
        font-family: "Montserrat", sans-serif;
    }

    .box {

        // display: none;
        display: flex;
        justify-content: center;
        opacity: 0;
        font-family: "Montserrat", sans-serif;
        border-radius: 7px;
        background-color: #1e272e;
        width: 90px;
        color: #fff;
        padding: 5px 5px;
        position: absolute;
        left: 185px;
        transform: translateY(85px);

        p {
            font-size: 10px;
            position: relative;
            z-index: 1;
            text-align: center;
        }
    }

    .box.meassege-hide {
        // display: flex;
        // justify-content: center;
        animation: animationHide 0.5s forwards;
    }

    .box.meassege-active {
        // display: flex;
        // justify-content: center;
        animation: animationShow 0.5s forwards;
    }

    .link-wrapper {
        display: flex;
        margin-bottom: 20px;

        .qr-link {
            display: none;
            margin: 0;
            margin-right: 20px;
        }

        .qr-link {
            display: flex;
        }

        .qr-link-copy-btn {
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        .qr-link-copy-btn:hover {
            color: #22a6b3;
        }
    }
}

@keyframes animationShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animationHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}