

.expiring-items {
    border: 1px solid #eb5757;
}

.main-items-list {

    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
    background-color: #151f30;
    padding: 0px 20px;
    border-radius: 10px;

    li {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        font-size: 12px;
        margin-right: 10px;
    }

    .actions-icons-wrapper {

        display: flex;
        flex: 1;
        justify-content: flex-start;

        .actions-links {
            transition: 0.5s ease;
            transition-property: color, background-color, border-color;
        }

        .actions-links.edit {
            background-color: rgba(47, 128, 237, 0.1);

            svg {
                fill: #2f80ed;
            }
        }

        .actions-links.delete {
            background-color: rgba(235, 87, 87, 0.1);

            svg {
                fill: #eb5757;
            }
        }

        .actions-links.edit:hover {
            background-color: #193255;
        }

        .actions-links.delete:hover {
            background-color: #3f2937;
        }


        .actions-links {
            display: flex;
            margin-right: 8px;
            border-radius: 8px;
            padding: 6px;

            svg {
                width: 20px;
                height: auto;
            }
        }

        .actions-links:last-child {
            margin: 0;
        }
    }
}