

.item-options {
    display: flex;
    justify-content: flex-start;

    >* {
        margin: 5px;
    }

    .form-input-card {
        margin-bottom: 0;
    }

    .item-options-add-qty-btn {
        background-color: #00b894;
        font-family: "Montserrat", sans-serif;
        border: none;
        padding: 6px;
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
    }

    .item-options-add-qty-btn:hover {
        cursor: pointer;
        background-color: #55EFC4;
    }

    .add-qty-btn-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .remove-btn-card {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        div {
            display: flex;
            justify-content: flex-end;

            .item-options-remove-btn {
                border: none;
                margin: 0 8px;
                background-color: #EA2027;
                padding: 6px;
                border-radius: 5px;
                font-family: "Montserrat", sans-serif;
            }

            .item-options-remove-btn:hover {
                cursor: pointer;
                background-color: #c7060d;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .item-options {
        flex-direction: column;

        .remove-btn-card {
            div {
                display: flex;
                justify-content: center;
            }
        }
    }
}