.navigation-header {

    background-color: #0652DD;
    padding: 15px;

    .navigation-list {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: flex-end;

        .home-btn-link {
            
            align-self: flex-start;
        }
    }

    .navigation-list li {
        list-style: none;
    }

    .navigation-list li a {
        text-decoration: none;
        background-color: blue;
        color: white;
        padding: 5px;
        margin: 5px;
    }

    .navigation-list li a.active {
        background-color: green;
    }

}