.navigation-header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    // position: fixed;
    z-index: 10;

    font-family: "Montserrat", sans-serif;

    background-color: #0652DD;

    .navigation-user-name {
        align-items: flex-start;
        flex: 1;
        display: flex;
        align-items: center;
        padding-left: 15px;
        color: white;
    }

    .hamburger-react {
        display: none;
    }

    .navigation-list {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: flex-end;


    }

    .navigation-list li {
        list-style: none;
        padding: 12px;
        transition: 0.3s;
    }

    .navigation-list li:hover {
        background-color: #1abc9c;
    }

    .navigation-list li a {
        text-decoration: none;
        color: white;
        padding-bottom: 5px;
        margin: 10px;
    }

    .navigation-list li a.active {
        border-bottom: 2px solid #95a5a6;
    }

}

@keyframes growDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 480px) {

    .small-screen-navigation-header {

        position: relative;
        z-index: 10;

        font-family: "Montserrat", sans-serif;


        background-color: #0652DD;
        padding: 15px;
        animation: growDown 300ms ease-in-out forwards;

        .navigation-small-screen {
            .navigation-list {
                // flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                li:hover {
                    background-color: #1abc9c;
                }

                li {
                    margin: 5px;
                    display: flex;
                    justify-content: center;

                    a {
                        padding: 5px;
                        text-decoration: none;
                        // flex: 1;
                        // background-color: rgb(212, 146, 146);
                        color: white;
                        display: flex;
                        justify-content: center;
                    }
                }

                li a.active {
                    // background-color: green;
                    border-bottom: 2px solid #95a5a6;
                }
            }
        }

    }

    .navigation-header {

        .menu-btn {
            display: flex;
            justify-content: flex-end;
        }

        .hamburger-react {
            right: 5px;
            display: inline-block;
            color: white;
        }

        .navigation {
            display: none;
        }

        .navigation.active {
            display: flex;

        }
    }
}