.inventory-items-title {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-family: "Montserrat", sans-serif;
}

.inventory {
    font-family: "Montserrat", sans-serif;

    .inventory-items-empty {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .inventory-items-empty {
        h2 {
            text-align: center;
        }
    }

    .add-item {

        margin: 15px;

        .add-item-btn {
            text-decoration: none;
            color: black;
            background-color: #00b894;
            padding: 9px 46px;
            border-radius: 17px;
            cursor: pointer;
            font-family: "Montserrat", sans-serif;
        }
    }
}