.inventory-items-title {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-family: "Montserrat", sans-serif;
}

.inventory {
    font-family: "Montserrat", sans-serif;

    .inventory-items-empty {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .inventory-items-empty {
        h2 {
            text-align: center;
        }
    }

    .add-item {

        margin: 15px;

        .add-item-btn {
            text-decoration: none;
            color: black;
            background-color: #00b894;
            padding: 9px 46px;
            border-radius: 17px;
            cursor: pointer;
            font-family: "Montserrat", sans-serif;
        }

        .add-item-btn:hover {
            background-color: #55efc4;
        }
    }
}

.repositories-wrapper {

    animation: growDown 300ms ease-in-out forwards;

    display: flex;
    flex-direction: column;
    margin: 15px;
    box-shadow: 0px 0px 20px 0px #2d3436;
    padding: 10px;
    border-radius: 7px;
    background-color: #00b894;

    .repo-card:hover {
        background-color: #00c9a1;
    }

    .repo-card {
        font-family: "Montserrat", sans-serif;

        display: flex;
        margin: 5px;
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 5px;

        .repo-name {
            flex: 1;
            margin-right: 10px;
            cursor: pointer;
            display: flex;

            a {
                flex: 1;
                text-decoration: none;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }



        .repo-btns {
            display: flex;
            justify-content: flex-end;

            button {
                font-family: "Montserrat", sans-serif;
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;
                cursor: pointer;
                background-color: #fd79a8;
                border-radius: 7px;
                padding: 5px;
            }


            .repo-btn-share {
                margin-right: 10px;
            }

            .repo-btn-delete {
                button {
                    background-color: #e60000;
                }
            }
        }
    }
}

@keyframes growDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}