.expiring-items-title,
.expiring-items-empty {
    font-family: "Montserrat", sans-serif;
    // display: flex;
    // justify-content: center;
    padding: 20px 0;
    text-align: center;

    span {
        // color: #3c40c6;
        color: #00b894;
    }

}

.expiring-items-empty {
    h2 {
        text-align: center;
        color: white;
    }
}

.successfuly-saved-container {
    display: flex;
    flex-direction: column;


    .successfuly-saved-btn-container {
        display: flex;
        justify-content: flex-end;

        button {
            background-color: #00b894;
            font-family: "Montserrat", sans-serif;
            border: none;
            padding: 6px;
            border-radius: 5px;
            font-family: "Montserrat", sans-serif;
            width: 80px;
            margin-top: 15px;
        }
    }
}